@import './utils/_css-variables';
@import './utils/_key-frames.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body, html, .main-wrapper {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgb(238, 255, 0), rgb(0, 255, 157), rgb(0, 81, 255))
}
